name: Deploy VPS

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}   # IP or domain
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}

          script: |
            set -e
            
            cd ${{ secrets.APP_DIR }}
            git pull origin main
            npm ci
            npm run build
            pm2 restart spa-fe 
